hostname = "{{ wolf_hostname }}"
support_hevc = true
config_version = 2
uuid = "{{ wolf_uuid | default('0f75f4d1-e28e-410a-b318-c0579f18f8d1') }}"

paired_clients = []
gstreamer = {}

[[profiles]]
id = 'moonlight-profile-id'

    [[profiles.apps]]
    title = 'Wolf UI'
    start_virtual_compositor = true
    icon_png_path = "https://raw.githubusercontent.com/games-on-whales/wolf-ui/refs/heads/main/src/Icons/wolf_ui_icon.png"

        [profiles.apps.runner]
        type = 'docker'
        name = 'Wolf-UI'
        image = 'ghcr.io/games-on-whales/wolf-ui:main'
        devices = []
        env = [
            'GOW_REQUIRED_DEVICES=/dev/input/event* /dev/dri/* /dev/nvidia*',
            'WOLF_SOCKET_PATH=/var/run/wolf/wolf.sock',
            'WOLF_UI_AUTOUPDATE=False',
            'LOGLEVEL=INFO'
        ]
        mounts = [
            '/var/run/wolf/wolf.sock:/var/run/wolf/wolf.sock'
        ]
        ports = []
        base_create_json = '''{
          "HostConfig": {
            "IpcMode": "host",
            "CapAdd": ["NET_RAW", "MKNOD", "NET_ADMIN", "SYS_ADMIN", "SYS_NICE"],
            "Privileged": false,
            "DeviceCgroupRules": ["c 13:* rmw", "c 244:* rmw"]
          }
        }'''

{% if wolf_lutris_app_enabled | bool %}
[[profiles]]
id = 'user'
name = 'User'

    [[profiles.apps]]
    title = 'Lutris'
    start_virtual_compositor = true
    icon_png_path = "https://raw.githubusercontent.com/lutris/lutris/master/share/icons/hicolor/256x256/apps/lutris.png"

        [profiles.apps.runner]
        type = 'docker'
        name = 'WolfLutris'
        image = '{{ wolf_lutris_image }}'
        devices = []
        env = [
{% if wolf_compositor == 'gamescope' %}
            'RUN_GAMESCOPE=1',
            'GAMESCOPE_WIDTH={{ wolf_gamescope_width }}',
            'GAMESCOPE_HEIGHT={{ wolf_gamescope_height }}',
            'GAMESCOPE_REFRESH={{ wolf_gamescope_refresh }}',
{% elif wolf_compositor == 'sway' %}
            'RUN_SWAY=1',
{% endif %}
            'GOW_REQUIRED_DEVICES=/dev/input/* /dev/dri/* /dev/nvidia*',
        ]
        mounts = [
            '{{ wolf_lutris_base_path[ansible_os_family] | default(wolf_lutris_base_path) }}:/home/retro/Games:rw',
        ]
        ports = []
        base_create_json = '''{
          "HostConfig": {
            "IpcMode": "host",
            "CapAdd": ["SYS_ADMIN", "SYS_NICE", "NET_ADMIN"],
            "Privileged": false,
            "DeviceCgroupRules": ["c 13:* rmw", "c 244:* rmw"]
          }
        }'''
{% endif %}

{% if wolf_desktop_enabled | bool %}
[[profiles]]
id = 'user-desktop'
name = 'User'

    [[profiles.apps]]
    title = 'Desktop'
    start_virtual_compositor = true
    icon_png_path = "https://raw.githubusercontent.com/PapirusDevelopmentTeam/papirus-icon-theme/master/Papirus/256x256/apps/preferences-desktop.png"

        [profiles.apps.runner]
        type = 'docker'
        name = 'WolfDesktop'
        image = '{{ wolf_desktop_image }}'
        devices = []
        env = [
            'RUN_SWAY=1',
            'GOW_REQUIRED_DEVICES=/dev/input/* /dev/dri/* /dev/nvidia*',
        ]
        mounts = [
            '{{ wolf_lutris_base_path[ansible_os_family] | default(wolf_lutris_base_path) }}:/home/retro/Games:rw',
        ]
        ports = []
        base_create_json = '''{
          "HostConfig": {
            "IpcMode": "host",
            "CapAdd": ["SYS_ADMIN", "SYS_NICE", "NET_ADMIN"],
            "Privileged": false,
            "DeviceCgroupRules": ["c 13:* rmw", "c 244:* rmw"]
          }
        }'''
{% endif %}
