[Unit]
Description=Schedule to run the maintenance script at the night
RefuseManualStart=no  # Allow manual starts
RefuseManualStop=no   # Allow manual stops

[Timer]
Persistent=true
OnCalendar=*-*-* 04:00:00

[Install]
WantedBy=timers.target